@model IEnumerable<PhotoSharing.Models.Comentario>

<!--Configuração Ajax para carregar apenas uma parte do HTML referente ao comentário da foto.-->
@{
    AjaxOptions options = new AjaxOptions { UpdateTargetId = "list-comentarios"};
    }

@using (Ajax.BeginForm("ComentariosDaFoto", new { fotoId = ViewBag.PhotoId}, options))
{
    <div id="list-comentarios">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Texto)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Texto)
                    </td>
                </tr>
            }
        </table>

        <div class="row">
            @if (Request.IsAuthenticated)
            {
                @Html.Action("Comentar")
            }
            else
            {
                @Html.ActionLink("Você deve se Logar","Login","Account")
            }

        </div>
    </div>
}

